<div class="container mb-5">
    <div class="row">
        <div class="col-12 py-3 d-flex" style="height: auto">
            <span style="color: #44609F;" class="">StuffExchange</span>
            <span style="color: #818181;" class="iconify" data-icon="bi:chevron-right" data-width="20"
                data-height="25"></span>
            <span style="color: #44609F;" class="">{{category}}</span>
            <span style="color: #818181;" class="iconify" data-icon="bi:chevron-right" data-width="20"
                data-height="25"></span>
            <span style="color: #555055;" class="">{{productName}}</span>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12 py-3 content">
            <app-information-product (isInfoLoading)="isInfoLoading($event)" (productInfoRow)="getInfoRow($event)">
            </app-information-product>

            <br><br>

            <app-description-product [description]="description" [notice]="notice"></app-description-product>

        </div>
        <div class="col-lg-4 col-md-12 col-similar py-3">
            <!-- <app-similar-product (isDetailLoading)="isDetailLoading($event)"></app-similar-product> -->
            <app-similar-product (isSimilarLoading)="isSimilarLoading($event)"></app-similar-product>
        </div>
    </div>
</div>