<!-- Change password form -->
<div class="change-password">
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="messageError">
        <span class="iconify" data-icon="bx:error-circle"></span>
        <span class="message">{{messageError}}</span>
    </div>
    <form [formGroup]="changePasswordForm">
        <div>
            <label for="">Mật khẩu hiện tại</label><br>
            <div class="input">
                <input type="password" formControlName="oldPassword">
                <span class="iconify" data-icon="akar-icons:eye-slashed"></span>
            </div>
            <div class="error" *ngIf="!oldPassword?.valid && (oldPassword?.dirty || oldPassword?.touched)">
                <div [hidden]="!oldPassword?.errors?.['required']">
                    <span class="iconify" data-icon="bxs:error-circle"></span>
                    <p>Hãy nhập mật khẩu hiện tại</p>
                </div>
                <div [hidden]="!oldPassword?.errors?.['minlength']">
                    <span class="iconify" data-icon="bxs:error-circle"></span>
                    <p>Độ dài tối thiểu là 6 ký tự</p>
                </div>
            </div>
        </div>
        <div>
            <label for="">Mật khẩu mới</label><br>
            <div class="input">
                <input type="password" formControlName="newPassword">
                <span class="iconify" data-icon="akar-icons:eye-slashed"></span>
            </div>
            <div class="error" *ngIf="!newPassword?.valid && (newPassword?.dirty || newPassword?.touched)">
                <div [hidden]="!newPassword?.errors?.['required']">
                    <span class="iconify" data-icon="bxs:error-circle"></span>
                    <p>Hãy nhập mật khẩu mới</p>
                </div>
                <div [hidden]="!newPassword?.errors?.['minlength']">
                    <span class="iconify" data-icon="bxs:error-circle"></span>
                    <p>Độ dài tối thiểu là 6 ký tự</p>
                </div>
            </div>
        </div>
        <div>
            <label for="">Nhập lại mật khẩu mới</label><br>
            <div class="input">
                <input type="password" formControlName="rePassword">
                <span class="iconify" data-icon="akar-icons:eye-slashed"></span>
            </div>
            <div class="error" *ngIf="!rePassword?.valid && (rePassword?.dirty || rePassword?.touched)">
                <div [hidden]="!rePassword?.errors?.['required']">
                    <span class="iconify" data-icon="bxs:error-circle"></span>
                    <p>Hãy nhập lại mật khẩu</p>
                </div>
                <div [hidden]="!rePassword?.errors?.['minlength']">
                    <span class="iconify" data-icon="bxs:error-circle"></span>
                    <p>Độ dài tối thiểu là 6 ký tự</p>
                </div>
            </div>
            <div class="error">
                <div *ngIf="(rePassword?.dirty || rePassword?.touched)">
                    <div [hidden]="!rePassword?.errors?.['mismatch']">
                        <span class="iconify" data-icon="bxs:error-circle"></span>
                        <p>Mật khẩu không khớp</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-inline button">
            <button type="button" class="btn btn-save" (click)="onSave()">Thay đổi</button>
            <button type="button" class="btn btn-cancel" (click)="onCancel()">Hủy</button>
        </div>
    </form>
</div>