
/* right content - change password form */
.change-password form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.change-password form > div{
    margin: 10px 0;
}

.change-password form > div label{
    font-weight: 500;
    margin-bottom: 3px;
    color: #5d5d5d;
}

.change-password form > div div.input{
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    padding: 2px 5px;
    outline: none;
}

.change-password form div input{
    border: none;
    border-radius: 20px;
    color: #676767;
    outline: none;
}
.change-password .alert{
    padding: 10px 10px;
}

.change-password .alert span.message {
    font-size: 15px;
}

.change-password .alert svg {
    font-size: 25px;
    margin-right: 2px;
}

.change-password form div input:-webkit-autofill,
.change-password form div input:-webkit-autofill:hover,
.change-password form div input:-webkit-autofill:focus,
.change-password form div input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.change-password form div .input svg{
    color: #676767;
}

.change-password form .button{
    // margin-top: 30px;
}

.change-password form .btn-save{
    background-color: #44609F;
    color: white;
    padding: 5px 20px;
}

.change-password form .btn-cancel{
    background-color: #DD6161;
    color: white;
    padding: 5px 20px;
}
/* end right content - change password form */

//error message
div.error{
    padding-top: 0;
    padding-bottom: 0;
}

div.error p{
    color: red;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    display: inline;
    margin-left: 2px;
}

div.error svg{
    color: red;
    font-size: 20px;
}