/* fixel header */
#site-header {
    width: 100%;
    height: auto;
    position: fixed;
    transition: all .3s ease;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img_logo_header {
    max-width: 100%;
    height: auto;
}

/* css for header hiding and showing */
.hide-header {
    top: -111px;
}

.not-hide-header {
    top: 0px !important;
}

.container-input span {
    border-radius: 0px 30px 30px 0px;
    color: #615757;
    border: 0;
}

.hide {
    display: none !important;
}

.container-input input {
    border-radius: 30px 0px 0px 30px;
    border: 0 !important;
    padding: 10px 20px;
}

.container-input {
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.25));
}

/* button category */
#listview-category {
    display: none;
    position: relative;
    top: -25px;
}

/* button for user */

/* user btn */
/* #btn-cart , #btn-user02{
    width: 35px;
    height: 35px;
    padding: 4px 6px 6px 6px;
} */
.btn_circle {
    background-color: #44609F;
    width: 35px;
    height: 35px;
    padding: 4px 6px 6px 6px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.btn-login {
    margin-top: 7px;
    margin-left: 15px;
}

.btn-login .username {
    cursor: pointer;
}

.btn-login:hover {
    text-decoration: none;
}


/* menu header */
.logo_img {
    margin-left: 50px;
}

.container_menu_search ul{
    margin-left: 5px;
}

.container_menu_search ul li {
    list-style-type: none;
    margin-left: 12px;
}

li .text-dark {
    color: #44609F !important;
    font-size: 13px;
}

li .text-dark:hover {
    text-decoration: none;
    color: #44609F !important;
}

.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44609F;
    height: 35px;
}

.menu-list {
    list-style-type: none;
    margin: 0 15px;

}

.menu-list .item-menu:hover {
    text-decoration: none;
}

.menu-list .item-menu {
    color: #FFFFFF;
}

.header_group_icon {
    padding: 0;
}

.header_group_icon:hover .menu-down {
    transition: all 0.3s linear;
    display: block;
}

.header-avt {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header-avt .avt-login {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.btn-login {
    margin-top: 7px;
    margin-left: 15px;
    color: #615757;
}

.btn-login:hover {
    text-decoration: none;
}

.menu-down {
    position: absolute;
    /* top: 10px; */
    display: none;
    width: 60%;
}

.menu-down .menu-down-list {
    list-style-type: none;
    border-bottom: #615757 1px;
}

.list-group {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.list-group-item {
    padding: 6px 10px !important;
    cursor: pointer;
}

.list-group-item a {
    font-size: 14px;
}

.active {
    background-color: #44609F !important;
}

/* reponsive */

/* PC */
@media (min-width : 1023px) {
    .container_menu_search ul {
        width: 100% !important;
        margin-right: 0;
    }
}

/* Tablet & mobile*/
@media (max-width : 1023px) {
    .logo_img {
        margin-left: 0;
    }

    .container_menu_search ul {
        width: 100% !important;
        margin-right: 0;
    }

    .container_menu_search .menu {
        /* padding-right: 40px; */
        margin-right: 0 !important;
        width: 150px;

    }

    .btn-login {
        margin-left: 10px;
    }

    .btn-login .username {
        font-size: 12px;
    }

    .btn-login .iconify {
        width: 14px;
        height: 14px;
    }

    .menu-down {
        width: 80%;
    }
}

/* Tablet */
@media (min-width : 740px) and (max-width : 1023px) {
    .container_menu_search ul li a {
        display: none;

    }

    .menu-down {
        width: 80%;
    }

    .list-group-item a {
        font-size: 13px;
    }
}

/* moble */
@media (max-width : 740px) {
    .logo_img {
        display: none;
    }

    .container_menu_search ul li {
        display: none;
    }

    .btn-login {
        font-size: 14px;
    }

    .btn-login {
        margin-left: 10px;
    }

    .btn-login .username {
        font-size: 12px;
    }

    .btn-login .iconify {
        width: 14px;
        height: 14px;
    }

    .menu-down {
        width: 70%;
    }

    .list-group-item {
        padding: 4px 8px !important;
    }

    .list-group-item a {
        font-size: 12px;
    }
}

@media (max-width : 540px) {
    .header_group_icon {
        margin-left: 0 !important;
        padding: 0;
    }

    .header_group_icon .btn-login {
        font-size: 12px;
    }

    .menu-list {
        margin: 0 5px;
    }

    .menu-list .item-menu {
        font-size: 12px;

    }

    .header-avt {
        width: 25px;
        height: 25px;
    }

    .btn-login {
        margin-left: 5px;
    }

    .btn-login .username {
        font-size: 10px;
    }

    .btn-login .iconify {
        width: 8px;
        height: 8px;
    }

    .menu-down {
        width: 70%;
    }

    .list-group-item {
        padding: 3px 5px !important;
    }

    .list-group-item a {
        font-size: 10px;
    }
}