<div class="container-fluid mt-6">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0 d-flex justify-content-between">
                    <h3 class="mb-0">
                        Danh mục sản phẩm
                        <span class="icon-button">
                            <i class="fas fa-plus"></i>
                        </span>
                    </h3>
                    <div class="pr-5">
                        <button (click)="createCategory()" class="btn btn-sm btn-success">Thêm</button>
                    </div>
                </div>
                <app-category-table [ListCategory]="(categories)" [showLoadingCategories]="showLoadingCategories"
                    (editUserEvent)="editCategory($event)" (deleteUserEvent)="deleteCategory($event)">
                </app-category-table>
            </div>
        </div>
    </div>
</div>