* {
    font-family: 'Kanit', sans-serif;
}

// sign up form css
.form_signup {
    /* height: 300px; */
    box-shadow: 2px 4px 6px 4px rgba(0, 0, 0, 0.25);
    background: white;
    padding: 20px 40px;
    border-radius: 15px;
}

.form_signup .header span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #757575;
}

.form_signup .header h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    font-style: normal;
    color: #44609F;
}

.form_signup input {
    border: 1px solid #AFAFAF;
    // border: 1px solid #2bed11;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 10px 0;
    font-size: 15px;
    font-style: normal;
    outline: none;
}

.form_signup .header {

    display: flex;
    justify-content: space-between;
    height: 100px;
}

.form_signup button {
    border-radius: 30px !important;
    margin: 30px 0 10px 0;
    background: #44609F;
    font-style: normal;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.form_signup .main_form {
    display: flex;
    flex-direction: column;
}

.form_signup .main_form div {
    margin: 0;
}

.form_signup .main_form div.error p {
    color: red;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    display: inline;
    margin-left: 2px;
}

.form_signup .main_form div.error svg {
    color: red;
    font-size: 20px;
}

.form_signup .main_form .btn-signup {
    background: #44609F !important;
}

.form_signup .main_form .btn-signup:hover {
    color: white;
    font-size: 18px;
    transition: 0.5s;
}

.form_signup .alert {
    padding: 5px 15px;
}

.login_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_footer span {
    font-size: 14px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form_signup .alert span.message {
    font-size: 16px;
}

.form_signup .alert svg {
    font-size: 35px;
    margin-right: 2px;
}

@media only screen and (max-width: 991px) {
    .bg_image {
        display: none;
    }

    .form_signup .header span {
        font-size: 16px !important;
    }

    .main_form {
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 999px) {

    .form_signup .header h3 {
        font-size: 23px !important;
    }

    .login_footer span {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 1199px) {

    .form_signup .header h3 {
        font-size: 30px;
    }

    .main_form {
        margin-top: 20px;
    }
}

@media (max-width : 600px) {
    .name_hidden {
        display: none;
    }

    .form_signup .header span {
        display: none;
    }
}