<div class="slide-image">
    <ngx-spinner [fullScreen]="false" bdColor="rgb(213, 213, 213, 0.8)" size="medium" color="#44609F"
        type="ball-scale-multiple">
    </ngx-spinner>
    <div class="main-image">
        <img src="{{thumbnail}}" alt="">
    </div>
    <div class="click-image">
        <div (click)="previousThumbnail()" class="next">
            <span class="iconify" data-icon="ooui:previous-ltr" style="color: red;"></span>
        </div>
        <div class="images" id="images">
            <div class="contain-image" *ngFor="let productImage of productImages_; let i = index">
                <img id={{i}} src="{{productImage}}" alt="" (click)="changeThumbnail(i)" [ngClass]="{'active': i==0}">
            </div>
        </div>
        <div (click)="nextThumbnail()" class="next">
            <span class="iconify" data-icon="ooui:previous-rtl" style="color: red;"></span>
        </div>
    </div>
</div>