<div class="container main">
    <div class="row">
        <div class="col-lg-6 col-md-0 bg_image col-0">
            <img src="./assets/img/sign-up/signup_image_1.png" alt="" width="100%">
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <!-- <app-signup-form (submitSignUpFormEvent)="submitSignUp($event)" [messageError]=" messageError"
                [showLoadingSignUp]="showLoadingSignUp" [showAccountConfirm]="showAccountConfirm">
            </app-signup-form> -->
            <app-confirm-form (submitConfirmFormEvent)="submitConfirmAccountHandler($event)"
                (submitResendOTPEvent)="submitResendOTPHandler()" [messageError]=" messageError"
                [showLoadingConfirm]="showLoadingConfirm"></app-confirm-form>
        </div>

    </div>
</div>