<section fxLayout="column" fxFlexAlign="stretch">
    <mat-tab-group mat-align-tabs="center" style="font-family: 'Kanit', sans-serif !important;">
        <mat-tab label="Mô tả" class="lablefont">
            <p class="mt-4">
                {{product?.description}}
            </p>
        </mat-tab>
        <mat-tab label="Chú ý" class="lablefont">
            <p class="mt-4">
                {{product?.notice}}
            </p>
        </mat-tab>
        <!-- <mat-tab label="Bình luận" class="lablefont">
            <form class="form-inline d-flex justify-content-between">
                <div class="form-group mx-sm-3 my-4 ">
                    <label for="inputcomment" class="sr-only">Thêm bình luận</label>
                    <input type="comment" class="form-control" id="inputcomment" placeholder="Thêm bình luận">
                </div>
                <button type="submit" class="btn my-4" style="background-color: #44609F; color: #ffff">Bình
                    luận</button>
            </form>
            <div style="margin: 0 0 15px 15px; ">
                <h3 style="font-weight: 500;"> 10 bình luận</h3>
            </div>
            <div id="comment">
                <div class="item-comment">
                    <div class="user-name">
                        <div class="rounded-circle">
                            <img class=" " style=" width: 30px; " src="../assets/img/web/home/Category/dienthoai.png"
                                alt=" ">
                        </div>
                        <div class="name">
                            <label for=" ">Huy Phú</label>
                        </div>
                    </div>
                    <div class="comment-content">
                        <label class="content" for=" ">Amazing good job</label>
                        <label class="date_rate" for=" ">21/10/2021</label>
                    </div>
                </div>
                <div class="item-comment">
                    <div class="user-name">
                        <div class="rounded-circle">
                            <img class=" " style=" width: 30px; " src="../assets/img/web/home/Category/nghethuat.png"
                                alt=" ">
                        </div>
                        <div class="name">
                            <label for=" ">Huy Phú</label>
                        </div>
                    </div>
                    <div class="comment-content">
                        <label class="content" for=" ">Amazing good job</label>
                        <label class="date_rate" for=" ">21/10/2021</label>
                    </div>
                </div>
                <div class="item-comment">
                    <div class="user-name">
                        <div class="rounded-circle">
                            <img class=" " style=" width: 30px; " src="../assets/img/web/home/Category/treem.png"
                                alt=" ">
                        </div>
                        <div class="name">
                            <label for=" ">Huy Phú</label>
                        </div>
                    </div>
                    <div class="comment-content">
                        <label class="content" for=" ">Amazing good job</label>
                        <label class="date_rate" for=" ">21/10/2021</label>
                    </div>
                </div>
                <div class="item-comment">
                    <div class="user-name">
                        <div class="rounded-circle">
                            <img class=" " style=" width: 30px; " src="../assets/img/web/home/Category/maytinh.png"
                                alt=" ">
                        </div>
                        <div class="name">
                            <label for=" ">Huy Phú</label>
                        </div>
                    </div>
                    <div class="comment-content">
                        <label class="content" for=" ">Amazing good job</label>
                        <label class="date_rate" for=" ">21/10/2021</label>
                    </div>
                </div>
                <div class="item-comment">
                    <div class="user-name">
                        <div class="rounded-circle">
                            <img class=" " style=" width: 30px; " src="../assets/img/web/home/Category/khac.png"
                                alt=" ">
                        </div>
                        <div class="name">
                            <label for=" ">Huy Phú</label>
                        </div>
                    </div>
                    <div class="comment-content">
                        <label class="content" for=" ">Amazing good job</label>
                        <label class="date_rate" for=" ">21/10/2021</label>
                    </div>
                </div>
            </div>
        </mat-tab> -->
    </mat-tab-group>
</section>