<div class="explore">
    <div class="container">
        <p class="title">Khám phá</p>
    </div>
    <div class="content">
        <div class="container">
            <div class="row items">
                <div class="col-lg-6 col-12 item">
                    <div class="card">
                        <div class="row">
                            <div class="img col-4">
                                <img src="./assets/img/web/home/explore/item2.jpg" alt="">
                            </div>
                            <div class="information col-8">
                                <p class="name">Đồng hồ nam Kashmir poten-Dây da Genuine Kashmir
                                    poten-Dây da Genuine nam Kashmir poten-Dây da Genuine hihihihhihi </p>
                                <div class="row">
                                    <button class="btn auction-number col-6">
                                        46 lượt
                                        <span class="iconify" data-icon="ri:auction-line"></span>
                                    </button>
                                    <div class="col-6 star-number">
                                        <span class="number">500</span>
                                        <span class="iconify" data-icon="el:star-alt"></span>
                                    </div>
                                </div>
                                <div class="auction row">
                                    <button class="btn auction-action col-6">Đấu giá ngay</button>
                                    <div class="col-6 days-left">
                                        <span class="number">Còn</span>
                                        <span>132h42p12s</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 item">
                    <div class="card">
                        <div class="row">
                            <div class="img col-4">
                                <img src="./assets/img/web/home/explore/item3.jpg" alt="">
                            </div>
                            <div class="information col-8">
                                <p class="name">Đồng hồ nam Kashmir </p>
                                <div class="row">
                                    <button class="btn auction-number col-6">
                                        32 lượt
                                        <span class="iconify" data-icon="ri:auction-line"></span>
                                    </button>
                                    <div class="col-6 star-number">
                                        <span class="number">365</span>
                                        <span class="iconify" data-icon="el:star-alt"></span>
                                    </div>
                                </div>
                                <div class="auction row">
                                    <button class="btn auction-action col-6">Đấu giá ngay</button>
                                    <div class="col-6 days-left">
                                        <span class="number">Còn</span>
                                        <span>2h42p2s</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 item">
                    <div class="card">
                        <div class="row">
                            <div class="img col-4">
                                <img src="./assets/img/web/home/explore/item3.jpg" alt="">
                            </div>
                            <div class="information col-8">
                                <p class="name">Đồng hồ nam Kashmir poten-Dây da Genuine </p>
                                <div class="row">
                                    <button class="btn auction-number col-6">
                                        46 lượt
                                        <span class="iconify" data-icon="ri:auction-line"></span>
                                    </button>
                                    <div class="col-6 star-number">
                                        <span class="number">500</span>
                                        <span class="iconify" data-icon="el:star-alt"></span>
                                    </div>
                                </div>
                                <div class="auction row">
                                    <button class="btn auction-action col-6">Đấu giá ngay</button>
                                    <div class="col-6 days-left">
                                        <span class="number">Còn</span>
                                        <span>132h42p12s</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 item">
                    <div class="card">
                        <div class="row">
                            <div class="img col-4">
                                <img src="./assets/img/web/home/explore/item1.jpg" alt="">
                            </div>
                            <div class="information col-8">
                                <p class="name">Đồng hồ nam Kashmir poten-Dây da Genuine </p>
                                <div class="row">
                                    <button class="btn auction-number col-6">
                                        46 lượt
                                        <span class="iconify" data-icon="ri:auction-line"></span>
                                    </button>
                                    <div class="col-6 star-number">
                                        <span class="number">500</span>
                                        <span class="iconify" data-icon="el:star-alt"></span>
                                    </div>
                                </div>
                                <div class="auction row">
                                    <button class="btn auction-action col-6">Đấu giá ngay</button>
                                    <div class="col-6 days-left">
                                        <span class="number">Còn</span>
                                        <span>132h42p12s</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 item">
                    <div class="card">
                        <div class="row">
                            <div class="img col-4">
                                <img src="./assets/img/web/home/explore/item3.jpg" alt="">
                            </div>
                            <div class="information col-8">
                                <p class="name">Đồng hồ nam Kashmir poten-Dây da Genuine </p>
                                <div class="row">
                                    <button class="btn auction-number col-6">
                                        46 lượt
                                        <span class="iconify" data-icon="ri:auction-line"></span>
                                    </button>
                                    <div class="col-6 star-number">
                                        <span class="number">500</span>
                                        <span class="iconify" data-icon="el:star-alt"></span>
                                    </div>
                                </div>
                                <div class="auction row">
                                    <button class="btn auction-action col-6">Đấu giá ngay</button>
                                    <div class="col-6 days-left">
                                        <span class="number">Còn</span>
                                        <span>132h42p12s</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 item">
                    <div class="card">
                        <div class="row">
                            <div class="img col-4">
                                <img src="./assets/img/web/home/explore/item1.jpg" alt="">
                            </div>
                            <div class="information col-8">
                                <p class="name">Đồng hồ nam Kashmir poten-Dây da Genuine </p>
                                <div class="row">
                                    <button class="btn auction-number col-6">
                                        46 lượt
                                        <span class="iconify" data-icon="ri:auction-line"></span>
                                    </button>
                                    <div class="col-6 star-number">
                                        <span class="number">500</span>
                                        <span class="iconify" data-icon="el:star-alt"></span>
                                    </div>
                                </div>
                                <div class="auction row">
                                    <button class="btn auction-action col-6">Đấu giá ngay</button>
                                    <div class="col-6 days-left">
                                        <span class="number">Còn</span>
                                        <span>132h42p12s</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>