<div class="table-responsive table-block">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col">Mã</th>
                <th scope="col">Tên</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Tình trạng</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of ProductList let i = index">
                <td scope="row">
                    {{i + 1}}
                </td>
                <td>
                    {{product.name}}
                </td>
                <td>
                    <img height="100px" width="100px" style="object-fit: cover;" [src]="product.thumbnail" />
                </td>
                <td>
                    {{product.condition === "USED" ? "Đã sử dụng" : "Còn mới"}}
                </td>
                <td>
                    {{product.status === "AVAILABLE" ? "Chờ trao đổi" : "Không có sẵn"}}
                </td>
                <td>
                    <!-- <button class="btn btn-sm btn-primary" (click)="editProduct(product)">Edit</button> -->
                    <button *ngIf="product.isBlock" (click)="blockProduct(product)" class="btn btn-sm btn-success">Mở
                        khóa</button>
                    <button *ngIf="!product.isBlock" (click)="blockProduct(product)"
                        class="btn btn-sm btn-warning">Khóa</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="_showLoadingCategory" class="loading">
        <ngx-spinner [fullScreen]="false" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
            type="ball-scale-multiple">
        </ngx-spinner>
    </div>
</div>