<!-- Start main -->
<div class="container main">
    <div class="row">
        <div class="col-lg-6 col-md-0 bg_image col-0">
            <img src="../../../../../assets/img/web/ForgotPassword/ForgotPassBack2.png" alt="" width="90%">
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <ngx-spinner [fullScreen]="false" bdColor="rgb(213, 213, 213, 0.5)" size="medium" color="#44609F"
                type="ball-scale-multiple">
            </ngx-spinner>
            <!-- Forgot form -->
            <app-forgot-form [hidden]="!showForgotForm" (submitEmailEvent)="submitEmailHandler($event)">
            </app-forgot-form>

            <!-- Confirm form -->
            <app-confirm-email-form [hidden]="!showConfirmForm" [email]="email"
                (confirmOTPSuccessfullyEvent)="confirmOTPSuccessfullyHandler()"></app-confirm-email-form>

            <!-- Change password form -->
            <app-change-password-form [hidden]="!showChangePasswordForm" [email]="email"></app-change-password-form>
        </div>
    </div>
</div>