<div class="footer mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12 item">
                <div class="content">
                    <p class="title">KẾT NỐI VỚI CHÚNG TÔI</p>
                    <div class="icon row">
                        <span class="iconify col-3" data-icon="bi:facebook"></span>
                        <span class="iconify col-3" data-icon="ant-design:mail-filled"></span>
                        <span class="iconify col-3" data-icon="akar-icons:instagram-fill"></span>
                        <span class="iconify col-3" data-icon="ant-design:google-plus-circle-filled"></span>
                    </div>
                    <p class="title-2">TẢI ỨNG DỤNG</p>
                    <img src="../../../../../assets/img/footer/icon-ggPlay.png" class="rounded" alt="">
                    <br>
                    <img src="../../../../../assets/img/footer/icon-appStore.png" class="rounded" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 item">
                <div class="content">
                    <p class="title">THÔNG TIN LIÊN LẠC</p>
                    <ul>
                        <li>Hotline 1: 0935 198 553</li>
                        <li>Hotline 2: 0868 924 375</li>
                        <li>Website: www.stuffexchange.com</li>
                        <li>Email: stuffexchange@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 item">
                <div class="content">
                    <p class="title">QUY ĐỊNH VẬN HÀNH</p>
                    <ul>
                        <li>Chính sách giao hàng</li>
                        <li>Chính sách hoàn trả</li>
                        <li>Chính sách bảo mật</li>
                        <li>Phương thức mua hàng</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 item">
                <div class="content">
                    <p class="title">KẾT NỐI</p>
                    <ul>
                        <li>Nhanh chóng, thuận lợi</li>
                        <li>Thành viên hỗ trợ</li>
                        <li>Blog</li>
                        <li>© 2023 StuffExchange</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>