<div class="change-password-form">
    <div class="header">
        <div>
            <p class="title">THAY ĐỔI MẬT KHẨU</p>
            <p class="message">
                Xác thực email thành công.
                <br />
                Hãy nhập mật khẩu mới cho tài khoản của bạn.
            </p>
        </div>
        <img src="../../../../../assets/img/web/ForgotPassword/ResetPass.jpg" alt="">
    </div>
    <div class="form">
        <form [formGroup]="changePasswordForm" class="d-flex flex-column justify-content-center align-items-center">
            <div class="col-12 col-sm-10 col-md-9 input-row">
                <input type="password" class="col-11" placeholder="Nhập mật khẩu mới" formControlName="newPassword">
                <span class="iconify" data-icon="akar-icons:eye-slashed"></span>
            </div>
            <div class="error" *ngIf="!newPassword?.valid && (newPassword?.dirty || newPassword?.touched)">
                <div [hidden]="!newPassword?.errors?.['required']">
                    <span class="iconify" data-icon="bxs:error-circle"></span>
                    <p>Hãy nhập mật khẩu mới</p>
                </div>
                <div [hidden]="!newPassword?.errors?.['minlength']">
                    <span class="iconify" data-icon="bxs:error-circle"></span>
                    <p>Độ dài tối thiểu là 6 ký tự</p>
                </div>
            </div>

            <div class="col-12 col-sm-10 col-md-9 input-row">
                <input type="password" class="col-11" placeholder="Nhập lại mật khẩu" formControlName="rePassword">
                <span class="iconify" data-icon="akar-icons:eye-slashed"></span>
            </div>
            <div class="error" *ngIf="!rePassword?.valid && (rePassword?.dirty || rePassword?.touched)">
                <div [hidden]="!rePassword?.errors?.['required']">
                    <span class="iconify" data-icon="bxs:error-circle"></span>
                    <p>Hãy nhập lại mật khẩu</p>
                </div>
                <div [hidden]="!rePassword?.errors?.['minlength']">
                    <span class="iconify" data-icon="bxs:error-circle"></span>
                    <p>Độ dài tối thiểu là 6 ký tự</p>
                </div>
            </div>
            <div class="error">
                <div *ngIf="(rePassword?.dirty || rePassword?.touched)">
                    <div [hidden]="!rePassword?.errors?.['mismatch']">
                        <span class="iconify" data-icon="bxs:error-circle"></span>
                        <p>Mật khẩu không khớp</p>
                    </div>
                </div>
            </div>
            <button class="btn" (click)="onSubmit()">Lưu thay đổi</button>
        </form>
    </div>
</div>