/* Main */
.post-header {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin: -16px -15px;
    padding: 10px 0;
}

.post-header .title {
    color: #44609F;
    margin: 0 !important;
    font-size: 22px;    
    color: #44609F;
    font-weight: 500;
}

.content{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

@media screen and (max-width: 997px) {
    .col-similar {
        padding: 20px 0 20px 0;
    }

    .info {
        margin-top: 30px;
    }
}

/* Footer */